<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Manage Categories</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  />
    <link rel="stylesheet" type="text/css" th:href="@{/static/danhMuc.css}" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <style>
        tbody th
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/admin}">ADMIN SITE</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" id="searchId" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"  onclick="search()" >Submit</button>
            </form>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container-fluid text-center">
    <div><h2>Manage Categories</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/admin/categories/new}">Add New Category</a>
    </div>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Title</th>
                <th>Detail</th>
                <th>Created day</th>
                <th>Updated day</th>
                <th>ACTION</th>
                <th></th>
            </tr>
            </thead>r
            <tbody>
            <th:block th:each="category : ${listCategories}">
                <tr>
                    <td>[[${category.id}]]</td>
                    <td>
                        <!-- Sử dụng th:src để hiển thị hình ảnh -->
                        <img th:src="${category.image}" alt="Category Image" style="max-width: 100px; max-height: 100px;" />
                    </td>
                    <td>[[${category.name}]]</td>
                    <td>[[${category.detail}]]</td>
                    <td>[[${category.created}]]</td>
                    <td>[[${category.updated}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/admin/categories/edit/' + ${category.id}}">Edit</a>
                        <a class="h4" th:href="@{'/admin/categories/delete/' + ${category.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>